<a href="https://colab.research.google.com/github/vlnarsi/Narasi_Projects/blob/master/mllab/irisdata/ml_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [5]:
print(pd.__version__)
print (sns.__version__)
print (np.__version__)

1.1.3
0.11.0
1.18.5

In [13]:
df=pd.read_csv('https://raw.githubusercontent.com/vlnarsi/Narasi_Projects/master/mllab/irisdata/iris.data',header=None)
col_name =['sepallength', 'sepalwidth','petallength', 'petalwidth', 'tgtclass']
df.columns=col_name
df.head()

   sepallength  sepalwidth  petallength  petalwidth     tgtclass
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa